@{
    ViewBag.Title = "PlayControl";
    Layout = "~/Views/Shared/PadMasterPage.cshtml";
}
<div class="button"><a href="javascript:;" class="button" id="btnNext">继续演示</a></div>
<div class="label"><h2>共3个媒体</h2></div>
<div class="playlist">
    <ul>
        <li>
            <p class="subject"><span class="filetype filetype-ppt"></span><span class="filename">山东联通集客厅业务管理平台方案.pptx</span></p>
            <p class="control"><a href="javascript:;" class="rw">RW</a><a href="javascript:;" class="ff">FF</a></p>
        </li>
        <li>
            <p class="subject"><span class="filetype filetype-avi"></span><span class="filename">联通iPhone5零元购机广告.avi</span></p>
            <p class="control"><a href="javascript:;" class="play">Play</a><a href="javascript:;" class="pause">Pause</a></p>
        </li>
        <li>
            <p class="subject"><span class="filetype filetype-doc"></span><span class="filename">关于建设集团客户展厅业务管理及集客业务助销系统的方案说明.doc</span></p>
            <p class="control"><a href="javascript:;" class="rw">RW</a><a href="javascript:;" class="ff">FF</a></p>
        </li>
    </ul>
</div>
