@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>枣庄演示厅 - 集团客户演示厅管理平台</title>
    <link type="text/css" rel="stylesheet" href="../../Images/style.css" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript">$.ajaxSetup({cache:false});</script>
</head>
<body class="content">
    <div id="main" >
        @RenderBody()
    </div>
</body>
</html>
