@{
    ViewBag.Title = "header";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>山东联通演示管理系统</title>
    <script src="../../js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../js/common.js" type="text/javascript"></script>
    <link href="../../Images/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div class="footer">
		<p class="copyright">版权所有：北京金量威科技有限公司</p>
	</div>
</body>
</html>