@{
    ViewBag.Title = "Index";
    Layout = null;//"~/Views/Shared/MasterPage.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>枣庄演示厅 - 集团客户演示厅管理平台</title>
</head>
<frameset rows="51,*,26" border="0">
	<frame name="header" noresize="noresize" src="@Url.Content("~/Home/header/")"></frame>
	<frame name="main" noresize="noresize" src="@Url.Content("~/Account/LogOn")"></frame>
	<frame name="footer" noresize="noresize" src="@Url.Content("~/Home/footer/")"></frame>
</frameset>
</html>
