@{
    ViewBag.Title = "EditDevice";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
@model ShowRommSys.Client.Web.Models.Device
<div class="box corner-top">
    @using (Html.BeginForm())
    {
        <div class="form">
            <p><label class="field">设备名称：</label><input name="Name" id="Name" type="text" class="text" size="70" value="@Model.Name" /></p>
            <p><label class="field">MAC地址：</label><input name="Mac" id="Mac" type="text" class="text" size="30" maxlength="17" value="@Model.MAC" /></p>
            <p class="explain">请使用“-”分隔，如：12-34-56-78-90-12</p>
            <p><label class="field">备注：</label><textarea name="Remark" id="Remark" class="text full" rows="5">@Model.Remark</textarea></p>
            <p><button type="submit">保存</button>&nbsp;<a href="@Url.Content("~/site/IndexDevice")" class="btn-69">返回</a></p>
        </div>
    }
</div>
<script type="text/javascript">
$(function(){
    $('input[name=Mac]').bind('blur',function(){$(this).val($(this).val().replace(/:/g,'-'));});
});
</script>
