@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>枣庄演示厅 - 集团客户演示厅管理平台</title>
</head>
<div>
    <frameset cols="250,*" border="0">
        <frame name="menu" id="menu" noresize="noresize" src="@Url.Content("~/Site/Menu/")"></frame>
        <frameset rows="64,*" border="0">
            <frame name="user" id="user" noresize="noresize" src="@Url.Content("~/Site/UserInfo/")" ></frame>
            <frame name="content" id="content" noresize="noresize" src="@Url.Content("~/Site/Welcome/")" ></frame>
        </frameset>
    </frameset>
</div>
</html>
