@{
    Layout = null;
}
@model List<ShowRommSys.Client.Web.Common.MenuItem>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>枣庄演示厅 - 集团客户演示厅管理平台</title>
    <link type="text/css" rel="stylesheet" href="../../Images/style.css" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
</head>
<body class="menu">
    <div class="box corner-top">
        <div class="title">
            <h2 class="type-arrow">功能菜单</h2>
        </div>
        <div class="list">
            @if (Model != null && Model.Count != 0)
            {
                foreach (var menu in Model)
                {
                <div class="group">
                    <p><strong>@menu.menuname</strong></p>
                    <ul>
                        @foreach (var sub in menu.menus)
                        {
                            <li><a href="/site/@sub.url" target="content">@sub.menuname</a></li>
                        }
                    </ul>
                </div>
                }
            }
        </div>
    </div>
</body>
</html>
