@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ShowList</title>
</head>
<body>
    <div>
         <table>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        </table>
    </div>
</body>
</html>
