@{
    ViewBag.Title = "山东联通演示管理系统";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
<script>$.ajaxSetup({cache:false});</script>
    <script src="../../js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../js/common.js" type="text/javascript"></script>
    <link href="../../Images/style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
        function ChangePwd() {
            window.parent.content.location.href = '/Site/UserPassword/)';
        }
        function LogOut() {
            $.ajax({
                url: "/Account/LogOff",
                type: "POST",
                data: "{'ID':'1'}",
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.parent.parent.location.href = "/Home/Index/";
                }
            });
        }
    </script>
</head>
<body class="user">
    <div class="box corner-top corner-bottom">
        <div class="single">
            <p class="username">
                @{
                    string name = "";
                    string number = "";

                    var db = new ShowRommSys.Client.Web.Models.ShowRoomSysEntities();
                    int id = int.Parse(Context.User.Identity.Name);
                    var user = db.Users.FirstOrDefault(e => e.Id == id);
                    name = user.Name;
                    number = user.Number;
                    var obj = db.UserLogSet.Where(e => e.UserId == id).ToList().Last();
                    DateTime dt = obj == null ? obj.LoginTime.Value : DateTime.Now;
                }
                山东联通欢迎您：<span class="color-orange">@name（@number）</span><em>|</em><a
                    href='@Url.Content("~/Site/UserPassword/")' target="content">修改密码</a><em>|</em><a
                        href="javascript:LogOut()">退出</a></p>
            <p class="datetime">
                您上次登录的时间是：<span class="color-orange">@dt.ToString("yyyy-MM-dd HH:mm:ss") &nbsp;@dt.ToString("dddd", new System.Globalization.CultureInfo("zh-cn"))</span></p>
        </div>
    </div>
</body>
</html>
