@{
    ViewBag.Title = "UserPassword";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
@model ShowRommSys.Client.Web.Models.Users
<script type="text/javascript">
    function Submit() {
        $.ajax({
            url: "/Site/CheckPassword",
            type: "POST",
            data: "{'ID':'" + $("#current").val() + "'}",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.ResultBool) {
                    $.ajax({
                        url: "/Site/ChangedPassword",
                        type: "POST",
                        data: "{'cpwd':'" + $("#current").val() + "','npwd':'" + $("#password").val() + "'}",
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.ResultBool) {
                                window.parent.parent.location.href = '@Url.Content("~/Home/Index/")';
                            }
                        },
                        error: function () { }
                    });
                }
                else {
                    alert("当前密码填写错误，请重新填写！");
                }
            },
            error: function () { alert("Save Failed!") }
        });
    }
    
</script>
<div class="box corner-top">
    @using (Html.BeginForm())
    {
        <input type="hidden" id="UserId" name="UserId" value="@Model.Id"/>
        <div class="form">
            <p><label class="field">当前密码：</label><input name="current" id="current" type="password" class="text" size="50" /></p>
            <p><label class="field">新密码：</label><input name="password" id="password" type="password" class="text" size="50" /></p>
            <p><label class="field">确认密码：</label><input name="confirm" id="confirm" type="password" class="text" size="50" /></p>
            <p><a href="javascript:Submit()" class="btn-69">提交</a></p>
        </div>
    }
</div>
