<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMainControl" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="24:00:00">
          <reliableSession inactivityTimeout="24:00:00"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://server-zz:8731/Design_Time_Addresses/ShowRoomSys.Service/Service1/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMainControl"
        contract="ControlService.IMainControl" name="NetTcpBinding_IMainControl">
        <identity>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="serverpath" value="\\Server-zz\UploadFiles\"/>
    <add key="localpath" value="D:\DownLoadFiles\"/>
    <add key="user" value="server"/>
    <add key="pwd" value="123456"/>
    <add key="isfullscreen" value="false"/>
    <add key="background" value=""/>
    <add key="backgroundflash" value="D:\联通屏保.swf"/>
  </appSettings>
</configuration>
