<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMainControl" >
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://Unicom-Server:8731/Design_Time_Addresses/ShowRoomSys.Service/Service1/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMainControl"
        contract="ControlService.IMainControl" name="NetTcpBinding_IMainControl">
        <identity>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="serverpath" value="\\Unicom-Server\UploadFiles\"/>
    <add key="localpath" value="D:\DownLoadFiles\"/>
    <add key="user" value="administrator"/>
    <add key="pwd" value="123456ly"/>
    <add key="isfullscreen" value="true"/>
    <add key="background" value="D:\Chrysanthemum.JPG"/>
  </appSettings>
</configuration>
